{% extends 'base.html' %}

{% block content %}

<h1 class="my-4">Корзина</h1>

{% if cart.items.count > 0 %}
    <!-- Таблица для отображения товаров в корзине -->
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">Продукт</th>
                <th scope="col">Количество</th>
                <th scope="col">Цена</th>
                <th scope="col">Общая сумма</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart.items.all %}
                <tr>
                    <td>{{ item.product.name }}</td>
                    <td>
                        <!-- Форма для изменения количества товара -->
                        <form method="post" action="{% url 'cart:update_cart_item' item.id %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" name="action" value="decrease" class="btn btn-sm btn-secondary" {% if item.quantity <= 1 %}disabled{% endif %}>-</button>
                            <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="10" class="form-control d-inline w-auto" style="width: 60px; display: inline;">
                            <button type="submit" name="action" value="increase" class="btn btn-sm btn-secondary" {% if item.quantity >= 10 %}disabled{% endif %}>+</button>
                        </form>
                    </td>
                    <td>{{ item.product.price|floatformat:2 }} сум</td>
                    <td>{{ item.get_total|floatformat:2 }} сум</td>
                    <td>
                        <!-- Форма для удаления товара -->
                        <form method="post" action="{% url 'cart:remove_cart_item' item.id %}" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-between">
        <p class="lead">Общая сумма: {{ cart.get_total|floatformat:2 }} сум</p>
        <!-- Кнопка для оформления заказа -->
        <a href="{% url 'cart:checkout' %}" class="btn btn-success btn-lg">Оформить заказ</a>
    </div>
{% else %}
    <p>Ваша корзина пуста.</p>
{% endif %}


  <!-- Кнопка для возврата на главную страницу -->
  <div class="mt-4">
    <a href="{% url 'main' %}" class="btn btn-secondary">Вернуться на главную</a>
  </div>

{% endblock %}
